<a href="https://colab.research.google.com/github/AdityaMohanty374/EDAs/blob/main/BlackFridayEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# **Problem Statement**


A retail company “ABC Private Limited” wants to understand the customer purchase behaviour (specifically, purchase amount) against various products of different categories. They have shared purchase summary of various customers for selected high volume products from last month. The data set also contains customer demographics (age, gender, marital status, city_type, stay_in_current_city), product details (product_id and product category) and Total purchase_amount from last month.

Now, they want to build a model to predict the purchase amount of customer against various products which will help them to create personalized offer for customers against different products.

In [3]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0

In [4]:
test_df = pd.read_csv('test.csv')

In [6]:
final_df = df.append(test_df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [9]:
df = pd.concat([df, test_df], ignore_index=True)

In [10]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369128 entries, 0 to 369127
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     369128 non-null  int64
 1   Product_ID                  369128 non-null  object
 2   Gender                      369128 non-null  object
 3   Age                         369128 non-null  object
 4   Occupation                  369128 non-null  int64
 5   City_Category               369128 non-null  object
 6   Stay_In_Current_City_Years  369128 non-null  object
 7   Marital_Status              369128 non-null  int64
 8   Product_Category_1          369128 non-null  int64
 9   Product_Category_2          254594 non-null  float64
 10  Product_Category_3          112413 non-null  float64
 11  Purchase                    135528 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 33.8+ MB

In [12]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [15]:
df['Gender'] = df['Gender'].map({
    'M':1,
    'F':0
})

In [16]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [19]:
from sklearn.preprocessing import LabelEncoder
labelE = LabelEncoder()
df['City_Category'] = labelE.fit_transform(df['City_Category'])

In [23]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [26]:
df['Age']=labelE.fit_transform(df['Age'])

In [27]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0,10,0,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,0,0,10,0,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,0,0,10,0,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,1,6,16,2,4+,0,8,NaN,NaN,7969.0

In [28]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [32]:
df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].map({
    '0':0,
    '1':1,
    '2':2,
    '3':3,
    '4+':4
})

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369128 entries, 0 to 369127
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     369128 non-null  int64
 1   Product_ID                  369128 non-null  object
 2   Gender                      369128 non-null  int64
 3   Age                         369128 non-null  int64
 4   Occupation                  369128 non-null  int64
 5   City_Category               369128 non-null  int64
 6   Stay_In_Current_City_Years  369128 non-null  int64
 7   Marital_Status              369128 non-null  int64
 8   Product_Category_1          369128 non-null  int64
 9   Product_Category_2          254594 non-null  float64
 10  Product_Category_3          112413 non-null  float64
 11  Purchase                    135528 non-null  float64
dtypes: float64(3), int64(8), object(1)
memory usage: 33.8+ MB

In [34]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            114534
Product_Category_3            256715
Purchase                      233600
dtype: int64

In [36]:
df['Product_Category_2'].fillna(df['Product_Category_2'].mode()[0], inplace=True)

/tmp/ipython-input-1452075046.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Category_2'].fillna(df['Product_Category_2'].mode()[0], inplace=True)

In [37]:
df["Product_Category_2"].mode()

0    8.0
Name: Product_Category_2, dtype: float64

In [38]:
df['Product_Category_3']=df['Product_Category_3'].fillna(df['Product_Category_3'].mode()[0])

In [39]:
df['Product_Category_3'].mode()[0]

np.float64(16.0)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369128 entries, 0 to 369127
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     369128 non-null  int64
 1   Product_ID                  369128 non-null  object
 2   Gender                      369128 non-null  int64
 3   Age                         369128 non-null  int64
 4   Occupation                  369128 non-null  int64
 5   City_Category               369128 non-null  int64
 6   Stay_In_Current_City_Years  369128 non-null  int64
 7   Marital_Status              369128 non-null  int64
 8   Product_Category_1          369128 non-null  int64
 9   Product_Category_2          369128 non-null  float64
 10  Product_Category_3          369128 non-null  float64
 11  Purchase                    135528 non-null  float64
dtypes: float64(3), int64(8), object(1)
memory usage: 33.8+ MB

In [41]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2                 0
Product_Category_3                 0
Purchase                      233600
dtype: int64

In [45]:
df["Purchase"].describe()

count    135528.000000
mean       9300.093700
std        4980.141216
min         185.000000
25%        5847.000000
50%        8051.000000
75%       12057.000000
max       23961.000000
Name: Purchase, dtype: float64

In [46]:
df["Purchase"].mean()

np.float64(9300.093700194793)

In [48]:
df['Purchase'] = df['Purchase'].fillna(df['Purchase'].median)

In [49]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0,10,0,2,0,3,8.0,16.0,8370.0
1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,0,0,10,0,2,0,12,8.0,16.0,1422.0
3,1000001,P00085442,0,0,10,0,2,0,12,14.0,16.0,1057.0
4,1000002,P00285442,1,6,16,2,4,0,8,8.0,16.0,7969.0

In [52]:
df['Purchase']

0                                                    8370.0
1                                                   15200.0
2                                                    1422.0
3                                                    1057.0
4                                                    7969.0
                                ...
369123    <bound method Series.median of 0          8370...
369124    <bound method Series.median of 0          8370...
369125    <bound method Series.median of 0          8370...
369126    <bound method Series.median of 0          8370...
369127    <bound method Series.median of 0          8370...
Name: Purchase, Length: 369128, dtype: object

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369128 entries, 0 to 369127
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     369128 non-null  int64
 1   Product_ID                  369128 non-null  object
 2   Gender                      369128 non-null  int64
 3   Age                         369128 non-null  int64
 4   Occupation                  369128 non-null  int64
 5   City_Category               369128 non-null  int64
 6   Stay_In_Current_City_Years  369128 non-null  int64
 7   Marital_Status              369128 non-null  int64
 8   Product_Category_1          369128 non-null  int64
 9   Product_Category_2          369128 non-null  float64
 10  Product_Category_3          369128 non-null  float64
 11  Purchase                    369128 non-null  object
dtypes: float64(2), int64(8), object(2)
memory usage: 33.8+ MB

In [55]:
train_df = pd.read_csv('train.csv')

In [56]:
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [58]:
train_df['Gender'] = train_df['Gender'].map({
    'M':1,
    'F':0
})

In [59]:
train_df['City_Category'] = labelE.fit_transform(train_df['City_Category'])

In [60]:
train_df['Age']=labelE.fit_transform(train_df['Age'])

In [61]:
train_df['Stay_In_Current_City_Years']=train_df['Stay_In_Current_City_Years'].map({
    '0':0,
    '1':1,
    '2':2,
    '3':3,
    '4+':4
})

In [62]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  int64
 3   Age                         550068 non-null  int64
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  int64
 6   Stay_In_Current_City_Years  550068 non-null  int64
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(9), object(1)
memory usage: 50.4+ MB

In [63]:
train_df['Product_Category_2'] = train_df['Product_Category_2'].fillna(train_df['Product_Category_2'].mode()[0])

In [64]:
train_df['Product_Category_3'] = train_df['Product_Category_3'].fillna(train_df['Product_Category_3'].mode()[0])

In [65]:
train_df['Purchase'] = train_df['Purchase'].fillna(train_df['Purchase'].median())

In [66]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  int64
 3   Age                         550068 non-null  int64
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  int64
 6   Stay_In_Current_City_Years  550068 non-null  int64
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          550068 non-null  float64
 10  Product_Category_3          550068 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(9), object(1)
memory usage: 50.4+ MB

In [67]:
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0,10,0,2,0,3,8.0,16.0,8370
1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200
2,1000001,P00087842,0,0,10,0,2,0,12,8.0,16.0,1422
3,1000001,P00085442,0,0,10,0,2,0,12,14.0,16.0,1057
4,1000002,P00285442,1,6,16,2,4,0,8,8.0,16.0,7969

In [70]:
train_df['Purchase'] = train_df['Purchase'].astype(float)

In [72]:
train_df.to_csv('final_data.csv',index=False)